---
import { Link } from "./ui/button";

export interface Props {
  message: string;
  link: {
    href: string;
    text: string;
  };
}

const { message, link } = Astro.props;
---

<div class="flex w-fit items-center gap-x-3 rounded-lg bg-teal-4 p-3 align-middle shadow-xl shadow-teal-3">
  <span class="font-bold text-teal-12">{message}</span>
  <Link variant="teal" href={link.href} client:load>
    {link.text}
  </Link>
</div>
