---
import { cva } from "class-variance-authority";
import clsx from "clsx";

export interface Props {
  title?: string;
  variant?: "primary" | "warning" | "bold";
  class?: string;
}

const bannerVariants = cva(
  "z-30 flex flex-col gap-y-1 rounded p-3 shadow-xl shadow-blackA5",
  {
    variants: {
      variant: {
        primary: "border-2 border-sage-12 bg-sage-1",
        warning: "bg-tertiery text-background",
        bold: "bg-primary text-foreground",
      },
    },
    defaultVariants: {
      variant: "primary",
    },
  },
);

const { title, variant, class: className } = Astro.props;
---

<div class={clsx(bannerVariants({ className, variant }))}>
  {title && <h3 class="font-yrsa text-2xl font-bold">{title}</h3>}
  <p class="flex items-center gap-x-2 align-middle">
    <slot />
  </p>
</div>
