---
import { Image } from "astro:assets";

import imageOne from "../assets/home/1.jpg";
import imageTwo from "../assets/home/2.jpg";
import imageThree from "../assets/home/3.jpg";
---

<div
  class="relative top-24 mx-auto flex h-fit w-4/5 flex-col gap-1 overflow-hidden rounded-xl shadow-2xl shadow-plum-5"
>
  <Image src={imageOne} alt="A cute guinea pig looking at the camera" />
  <Image src={imageTwo} alt="A pair of guinea pigs posing for the camera" />
  <Image src={imageThree} alt="A group of three friendly guinea pigs" />
</div>
